{% extends 'base.html' %}

{% block title %}
Update page
{% endblock %}

{% block style_scripts %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content %}
    {% if current_user.id == dev_id %}
    <div class="container" style="width: 60vw; margin-top: 5vh;">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-4">
                    <div class="card-body ">
                        <h5 class="h5 text-dark-emphasis">Old info:</h5>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 text-dark">First Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ dev_to_update.first_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 text-dark">Last Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ dev_to_update.last_name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0 text-dark">Username</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">{{ dev_to_update.username }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form method="POST" enctype="multipart/form-data">
                    <div class="card mb-4">
                    <div class="card-body ">
                        <h5 class="h5 text-dark-emphasis">New info:</h5>
                        <div class="row">
                            {{ form.hidden_tag() }}
                            <div class="col-sm-3" style="margin-top: 1vh">
                                <p class="mb-0 text-dark">{{ form.first_name.label() }}</p>
                            </div>
                            <div class="col-sm-9" style="margin-top: 1vh">
                                {{ form.first_name(class="text-muted mb-0", placeholder="First Name", value=dev_to_update.first_name) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="margin-top: 1vh">
                                <p class="mb-0 text-dark">{{ form.last_name.label() }}</p>
                            </div>
                            <div class="col-sm-9" style="margin-top: 1vh">
                                {{ form.last_name(class="text-muted mb-0", placeholder="Last Name", value=dev_to_update.last_name) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="margin-top: 1vh">
                                <p class="mb-0 text-dark">{{ form.username.label() }}</p>
                            </div>
                            <div class="col-sm-9" style="margin-top: 1vh">
                                {{ form.username(class="text-muted mb-0", placeholder="Username", value=dev_to_update.username) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3" style="margin-top: 1vh">
                                <p class="mb-0 text-dark"><i class="bx bxs-cloud-upload"></i>  {{ form.profile_pic.label() }}</p>
                            </div>
                            <div class="col-sm-9" style="margin-top: 1vh">
                                {{ form.profile_pic(class="form-control", value=dev_to_update.profile_pic, id="file") }}
                                <a style="margin-top: 3px;" class="btn btn-danger" href="{{ url_for('delete_profile_pic', dev_id=dev_to_update.id) }}">Delete photo</a>
                            </div>
                            <hr>
                            <div class="col-sm-6">
                                <h6 class="h6 text-muted text-start me-1">Current image:</h6>
                                <img
                                    style="margin-left: 5vw;"
                                    src="{{ url_for('static', filename='pics/' + dev_to_update.profile_pic) }}"
                                    alt="prev-pic"
                                    height="200"
                                    width="200"
                                />
                            </div>
                            <div class="col-sm-6" id="newImage">
                                <h6 class="h6 text-muted text-start me-1">New image:</h6>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="text-center">
                        {{ form.update(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% else  %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Sorry! You can't edit this message...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
